<h1>new article</h1>

%!0

%!1
error: %0
!%
<form method="POST" action="/new" enctype="application/x-www-form-urlencoded" >
	path: <input type="text" value="%1" name="path" />
	<br/> <!--the site is supposed to look old-->
	<textarea name="content" >%2</textarea>
  <br/>
	<input type="submit" />
</form>

<p>upload images:</p>
<form method="POST" action="/upload" enctype="multipart/form-data" >
	path: <input type="text" value="%1" name="path" />
	<br/>
	<input type="file" name="file" accept="image/*" />
	<br/>
	<input type="submit" />
</form>
!%

%!!0
<p>You do not have permission to post an article.</p>
!%
